
		<div class="breadcrumb-area pt-205 pb-210" style="background-image: url(assets/img/instra/about1.jpg)">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h2>about Our team</h2>
                    <ul>
                        <li><a href="/">home</a></li>
                        <li> about us </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="about-story pt-95 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="story-img">
                            <img src="assets/img/instra/nyk42.webp" alt="">
                            <div class="about-logo">
                                <!-- <h3>ShoeKy</h3> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="story-details pl-50">
                            <div class="story-details-top">
                                <h2>Welcome To <span>ShoeKy</span></h2>
                                <p>At ShoeKy, we're more than just an online shoe store; we're your gateway to a world of unparalleled style and comfort. We believe that the right pair of shoes can transform not only your look but also your confidence and everyday experience. That's why we've dedicated ourselves to curating the finest selection of Nike shoes, renowned for their innovation, quality, and iconic designs. </p>
                            </div>
                            <div class="story-details-bottom">
                                <h4>WE START AT 2023</h4>
                                <p>Step into Style and Comfort with ShoeKy - Your Ultimate Destination for Nike Shoes. we're your gateway to a world of unparalleled style and comfort. We believe that the right pair of shoes can transform not only your look but also your confidence and everyday experience. That's why we've dedicated ourselves to curating the finest selection of Nike shoes, renowned for their innovation, quality, and iconic designs.</p>
                            </div>
                            
                            <div class="story-details-bottom">
                                <h4>Passion for Sneaker Culture</h4>
                                <p>We're passionate about sneaker culture, and it's this enthusiasm that drives us to deliver the latest Nike releases, classic models, and exclusive editions that you won't find just anywhere. Our team is composed of sneakerheads who share your love for footwear, ensuring that we provide you with the latest trends and timeless classics</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="goal-area pb-65">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="goal-wrapper mb-30">
                            <h3>Customer-Centric Approach</h3>
                            <p>Your satisfaction is our priority. We've designed ShoeKy with your needs in mind. Whether you're seeking the perfect fit, style advice, or quick assistance, our customer support team is here for you. Our easy return and exchange policies make shopping with us risk-free, and we take pride in offering you a seamless and secure shopping experience.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="goal-wrapper mb-30">
                            <h3>Join the ShoeKy Community</h3>
                            <p> Beyond being a place to shop for Nike shoes, ShoeKy is a community of sneaker enthusiasts. We invite you to connect with us on social media, read our informative blogs, and stay updated on the latest sneaker news and releases. Your journey with ShoeKy extends beyond the purchase; it's about being part of a vibrant and passionate community.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="goal-wrapper mb-30">
                            <h3>Explore ShoeKy Today</h3>
                            <p>We're thrilled to have you here and invite you to explore our extensive collection of Nike shoes. Whether you're a collector, an athlete, or a style-conscious individual, ShoeKy has the perfect pair of Nikes waiting for you. Step into style and comfort; join us on this exciting journey.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="choose-area pb-100">
            <div class="container">
                <div class="about-section">
                    <h3>YOU CAN CHOOSE US BECAUSE <br>WE ALWAYS PROVIDE IMPORTANCE...</h3>
                    <p>Every pair of Nike shoes you find at ShoeKy is a testament to our unwavering commitment to quality and authenticity </p>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-md-12">
                        <div class="all-causes">
                            <div class="row">
                                <div class="col-md-6 causes-res">
                                    <div class="choose-wrapper">
                                        <h4>FAST DELIVERY</h4>
                                        <p>We know that when you order a pair of Nike shoes, you can't wait to lace them up and start striding in style. </p>
                                    </div>
                                    <div class="choose-wrapper">
                                        <h4>SECURE PAYMENT</h4>
                                        <p>We understand the importance of protecting your personal and financial information, which is why we offer a range of secure payment options for your convenience.

                                        </p>
                                    </div>
                                    <div class="choose-wrapper">
                                        <h4>EASY ORDER TRACKING</h4>
                                        <p>Once your order is on its way, we provide tracking information so you can follow its journey to your home</p>
                                    </div>
                                    <div class="choose-wrapper">
                                        <h4>24/7 SUPPORT</h4>
                                        <p>At ShoeKy, we understand that questions or concerns can arise at any time of the day or night. That's why we're proud to offer around-the-clock customer service, 24 hours a day, 7 days a week </p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="choose-wrapper">
                                        <h4>QUALITY PRODUCT</h4>
                                        <p>ezone provide how all this mistaken dea of denouncing pleasure and sing </p>
                                    </div>
                                    <div class="choose-wrapper">
                                        <h4>MONEY BACK GUARNTEE</h4>
                                        <p> We want you to shop with confidence, knowing that you're making the right choice. That's why we proudly offer a money-back guarantee and a hassle-free returns policy that ensures your peace of min </p>
                                    </div>
                                    <div class="choose-wrapper">
                                        <h4>FREE RETURN</h4>
                                        <p>  Our returns process is designed to be simple and stress-free. If you need to return or exchange an item, just let us know, and we'll guide you through the process. Our customer support team is here to assist you every step of the way. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12">
                        <div class="choose-banner-wrapper f-right">
                            <img src="/assets/img/instra/nyk35.webp" alt="">
                            <div class="choose-banner-text">
                                <h5>DEALS <br>OF THE DAY</h5>
                                <h5>UP TO <br><span>50%</span> <br>OFF</h5>
                                <a href="/">SHOP NOW </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="team-area">
            <img src="assets/img/banner/39.jpg" alt="">
        </div>
        <!-- testimonials area start -->
        <div class="testimonials-area pt-100 pb-95 bg-img" style="background-image: url(assets/img/bg/7.jpg)">
            <div class="container">
                <div class="testimonials-active owl-carousel">
                    <div class="single-testimonial-2 text-center">
                        
                        <p>Step into Style and Comfort with ShoeKy - Your Ultimate Destination for Nike Shoes."</p>
                       
                        <h4>Anjana Sasidharan </h4>
                        <span>Web Developer</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- testimonials area end -->
		
		<!-- modal -->
    